@font-face {
	font-family: 'Roboto Condensed';
	src: url('roboto_condensed.eot'); /* IE 9 Compatibility Mode */
	src: url('roboto_condensed.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('roboto_condensed.woff2') format('woff2'), /* Super Modern Browsers */
		url('roboto_condensed.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('roboto_condensed.ttf') format('truetype'), /* Safari, Android, iOS */
		url('roboto_condensed.svg#roboto_condensed') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Roboto Condensed Bold';
	src: url('roboto_condensed_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('roboto_condensed_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('roboto_condensed_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('roboto_condensed_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('roboto_condensed_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('roboto_condensed_bold.svg#roboto_condensed_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}