#radio-online {
padding-top: 30px;
}

/* ============================= audio1 ====================== */
.audio1{float: right; width: 650px; position: relative; margin-top: 32px;}
.audio1 .mejs-container{background: none; font-family: inherit; font-size: inherit; color: #fff; height: auto!important;}
.audio1 .mejs-container .mejs-controls{top: 0; background: none; height: 30px; position: relative;}
.audio1 .mejs-container .mejs-controls div{font-size: 14px; font-family: inherit; line-height: 1;}
.audio1 .mejs-controls a.mejs-horizontal-volume-slider{width: 0; overflow: hidden; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0);}
.audio1 .mejs-controls .mejs-button button:focus{outline: none;}


.audio1 .mejs-controls .mejs-cust1-button button{background: url(./img/btn-prev.png) center center no-repeat;}

.audio1 .mejs-controls .mejs-playpause-button{width: 70px; height: 45px;}
.audio1 .mejs-controls .mejs-play button{width: 70px; height: 45px; border: 2px solid #fff; border: 2px solid rgba(255, 255, 255, 0.25); background: url(./img/btn-play.png) center center no-repeat; margin: 0;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; top: -8px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.audio1 .mejs-controls .mejs-play button:hover{border-color: #fff;}
.audio1 .mejs-controls .mejs-pause button{width: 70px; height: 45px; border: 2px solid #fff; border: 2px solid rgba(255, 255, 255, 0.25); background: url(./img/btn-pause.png) center center no-repeat; margin: 0;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; top: -8px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.audio1 .mejs-controls .mejs-pause button:hover{border-color: #fff;}

.audio1 .mejs-controls .mejs-cust2-button button{background: url(./img/btn-next.png) center center no-repeat;}

.audio1 .mejs-container .mejs-controls .mejs-time{padding-top: 8px;}

.audio1 .mejs-controls .mejs-cust3-button{margin: 0 5px;}
.audio1 .mejs-controls .mejs-cust3-button button{background: url(./img/btn-repeat.png) center center no-repeat;}

.audio1 .mejs-controls .mejs-cust4-button{margin: 0 5px;}
.audio1 .mejs-controls .mejs-cust4-button button{background: url(./img/btn-change.png) center center no-repeat;}

.audio1 .mejs-controls div.mejs-time-rail{padding-top: 9px;}

.audio1 .mejs-controls .mejs-time-rail .mejs-time-total{background: #756a66; height: 3px;}

.audio1 .mejs-controls .mejs-time-rail .mejs-time-buffering{height: 3px;}

.audio1 .mejs-controls .mejs-time-rail .mejs-time-loaded{background: #988986; height: 3px;}

.audio1 .mejs-controls .mejs-time-rail .mejs-time-current{background: #d40e20; height: 3px;}

.audio1 .mejs-controls .mejs-time-rail .mejs-time-handle{height: 3px;}

.audio1 .mejs-controls .mejs-time-rail .mejs-time-float{font-size: 12px;}

/* ============================= audio1 end ====================== */

/* ============================= RADIO ====================== */
.radios{font-family: 'Roboto Condensed', sans-serif;}
.radios div::selection {
background: #f8b500; color: #fff;
}
.radio1{position: relative; margin-bottom: 15px; color: #fff; font-size: 14px; line-height: 20px;}
.radio1.head{border-bottom: 2px solid #f8b500; color: #f8b500;}

.radio1.head .sec7{background: url(../radio/images/volume.png) center 15px no-repeat;}

.radio1 > div{float: left; width: 16.66666667%; padding-right: 30px; padding-bottom: 25px; padding-top: 10px;}
.radio1 > div:first-child{width: 6.66666667%;}
.radio1 > div.sec7{padding-right: 0px; width: 12%;}
.radio1 .sec6{width: 14.66666667%;}

.radio1 > div.sec5{word-wrap: break-word;}

.sec2{color: #f8b500; font-weight: 700; font-family: 'Stereonic-M', sans-serif;}

.audio2{width: 100%; position: absolute; left: 0; bottom: 0;}
.audio2 .mejs-container{background: none; font-family: inherit; font-size: inherit; color: #fff; height: auto!important;}
.audio2 .mejs-container .mejs-controls{top: 0; background: none; position: relative; height: 3px;}
.audio2 .mejs-container .mejs-controls div{font-size: 12px; font-family: inherit; line-height: 1;}
.audio2 .mejs-controls a.mejs-horizontal-volume-slider{width: 0; overflow: hidden; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0);}
.audio2 .mejs-controls .mejs-button button:focus{outline: none;}

.audio2 .mejs-controls .mejs-playpause-button{width: 12%; height: 40px; position: absolute; right: 0; top: -35px;}
.audio2 .mejs-controls .mejs-play button{width: 100%; height: 40px; border: 2px solid #c80913; background: url(../radio/images/btn-play.png) center center no-repeat; margin: 0;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; top: -8px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.audio2 .mejs-controls .mejs-play button:hover{background-color: #c80913;}
.audio2 .mejs-controls .mejs-pause button{width: 100%; height: 40px; border: 2px solid #c80913; background: url(../radio/images/btn-pause.png) center center no-repeat; margin: 0;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; top: -8px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.audio2 .mejs-controls .mejs-pause button:hover{background-color: #c80913;}

.audio2 .mejs-controls div.mejs-time-rail{padding-top: 0px; height: 3px;}

.audio2 .mejs-controls .mejs-time-rail .mejs-time-total{background: #c80913; height: 3px; margin: 0;}

.audio2 .mejs-controls .mejs-time-rail .mejs-time-buffering{height: 3px;}

.audio2 .mejs-controls .mejs-time-rail .mejs-time-loaded{background: #fff; height: 3px;}

.audio2 .mejs-controls .mejs-time-rail .mejs-time-current{background: #d40e20; height: 3px;}

.audio2 .mejs-controls .mejs-time-rail .mejs-time-handle{height: 3px;}

.audio2 .mejs-controls .mejs-time-rail .mejs-time-float{font-size: 12px; display: none!important;}



.audio-mp3{width: 100%; position: relative; right: 10px; bottom: 0;}


@media screen and (max-width: 768px) and (orientation: landscape) {
.audio-mp3{}
}

.audio-mp3 .mejs-container{background: none; font-family: inherit; font-size: inherit; color: #fff; height: auto!important;}
.audio-mp3 .mejs-container .mejs-controls{top: 0; background: none; position: relative; height: 3px;}
.audio-mp3 .mejs-container .mejs-controls div{font-size: 12px; font-family: inherit; line-height: 1;}
.audio-mp3 .mejs-controls a.mejs-horizontal-volume-slider{width: 0; overflow: hidden; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0);}
.audio-mp3 .mejs-controls .mejs-button button:focus{outline: none;}

.audio-mp3 .mejs-controls .mejs-playpause-button{width: 12%; height: 40px; position: absolute; right: 0; top: -35px;}
.audio-mp3 .mejs-controls .mejs-play button{width: 100%; height: 40px; border: 2px solid #c80913; background: url(../radio/images/btn-play.png) center center no-repeat #e31c1c; margin: 0;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; top: -8px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.audio-mp3 .mejs-controls .mejs-play button:hover{background-color: #c80913;}
.audio-mp3 .mejs-controls .mejs-pause button{width: 100%; height: 40px; border: 2px solid #c80913; background: url(../radio/images/btn-pause.png) center center no-repeat; margin: 0;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; top: -8px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.audio-mp3 .mejs-controls .mejs-pause button:hover{background-color: #c80913;}

.audio-mp3 .mejs-controls div.mejs-time-rail{padding-top: 0px; height: 3px;}

.audio-mp3 .mejs-controls .mejs-time-rail .mejs-time-total{background: rgba(0, 0, 0, 0.2); height: 3px; margin: 0;}

.audio-mp3 .mejs-controls .mejs-time-rail .mejs-time-buffering{height: 3px;}

.audio-mp3 .mejs-controls .mejs-time-rail .mejs-time-loaded{background: rgba(0, 0, 0, 0.5); height: 3px;}

.audio-mp3 .mejs-controls .mejs-time-rail .mejs-time-current{background: #d40e20; height: 3px;}

.audio-mp3 .mejs-controls .mejs-time-rail .mejs-time-handle{height: 3px;}

.audio-mp3 .mejs-controls .mejs-time-rail .mejs-time-float{font-size: 12px; display: none!important;}

/* ============================= main layout ====================== */
.title1{font-size: 14px; font-style: italic; color: #888888; line-height: 1.2; text-align: center;}
.title1 b{color: #fff; background: #c80913; font-style: normal; padding: 2px 5px;}

.title2{font-size: 30px; color: #f8b500; line-height: 1.5; text-align: center; letter-spacing: 10px; padding: 5px 0; font-family: 'Manrope Semibold', sans-serif;}

.title3{font-size: 14px; color: #888888; line-height: 2; text-align: center;}

.title4{font-size: 18px; color: #fff; line-height: 1.7; text-align: center; font-weight: 300; padding-top: 5px;}

.title5{font-size: 18px; color: #fff; line-height: 1.1; text-align: left; font-weight: 300; letter-spacing: 5px; text-transform: uppercase; padding-bottom: 35px;}

/*-----btn-----*/
.btn-default.btn0{ font-family: 'Roboto'; display: inline-block; color: #fff; border: none; font-size: 14px; line-height: 20px; font-weight: 700; padding: 13px 20px; text-decoration: none; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; background: none; position: relative; border: 2px solid #fff;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn0:hover{color: #d30b16; background: #fff;}

.btn-default.btn1{ font-family: 'Roboto'; display: inline-block; color: #fff; border: none; font-size: 10px; line-height: 18px; font-weight: 700; padding: 6px 30px; text-decoration: none; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; background: none; position: relative; border: 2px solid #fff;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn1:hover{color: #fff; background: #cf101f; border-color: #cf101f;}

.btn-default.btn2{ font-family: 'Roboto'; display: inline-block; color: #fff; border: none; font-size: 12px; line-height: 20px; font-weight: 700; padding: 8px 30px; text-decoration: none; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; background: none; position: relative; border: 2px solid #c80913;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn2:hover{color: #fff; background: #c80913;}

.btn-default.btn3{ font-family: 'Roboto'; display: inline-block; color: #fff; border: none; font-size: 12px; line-height: 20px; font-weight: 700; padding: 0px 15px 0 0; text-decoration: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; background: url(../images/arr1.png) right center no-repeat; position: relative; border: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn3:hover{color: #0c9ec3;}

.btn-default.btn4{ font-family: 'Roboto'; display: inline-block; color: #fff; border: none; font-size: 10px; line-height: 18px; font-weight: 700; padding: 6px 15px; text-decoration: none; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; background: none; position: relative; border: 2px solid #fff;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn4:hover{color: #fff; background: #cf101f; border-color: #cf101f;}

.btn-default.btn5{ font-family: 'Roboto'; display: inline-block; color: #c80913; border: none; font-size: 13px; line-height: 20px; font-weight: 700; padding: 0px 30px 0 0; text-decoration: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; background: url(../images/btn5.png) right center no-repeat; position: relative; border: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn5:hover{color: #fff;background: url(../images/btn5_over.png) right center no-repeat;}

.btn-default.btn6{ font-family: 'Roboto'; display: inline-block; color: #fff; border: none; font-size: 12px; line-height: 18px; font-weight: 700; padding: 6px 15px; text-decoration: none; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; background: #cf101f; position: relative; border: 2px solid #cf101f;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn6:hover{color: #fff; background: none; border-color: #fff;}


/*================= queryLoader =========================*/
#load {width: 100%;height: 100%;position: fixed;overflow: hidden;z-index: 1001;	background-color: #252525;}
#qLoverlay{background: #252525!important;}
#qLbar{background: #fff!important;}
#qLpercentage{color: #fff!important; font-family: 'Roboto'; font-weight: 700; font-size: 40px!important; line-height: 1;}


@media (min-width: 992px) and (max-width: 1199px) {
.audio1{width: 500px;}
#testim_wrapper{padding-top: 80px;}
.about_wrapper{padding-top: 60px;}
.thumb6 .caption{padding: 20px 20px 0;}
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 991px) {
  .song1 .caption{float: none;}
  .audio1{float: none; width: 100%;}
  .song1 .left{float: none;}
  .song1 .right{float: none;}
  .song1_wrapper{position: relative;}
  #testim_wrapper{padding-top: 0px;}
  .dancer{margin-top: -120px;}
  .about_wrapper{padding-top: 50px;}
  .thumb6 figure{width: 30%; margin: 0 20px 10px 0;}
  .thumb6 .caption{width: auto; float: none; padding: 10px;}
  .thumb6.right .caption{float: none;}
  .thumb6.right figure{margin: 0 0 10px 20px;}
  .go-down{bottom: 40px;}
  .logo3_wrapper{margin-left: -360px;}
  .add2{margin-right: -360px;}
}

@media (min-width: 768px) and (max-width: 991px) {
.add1{margin-left: 10px;}
.slick-center .slick-slider-inner .caption .txt2 span{font-size: 15px;}
.best0{padding-top: 0;}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.add1{display: none;}
.menu_wrapper{float: none;}
.navbar_ {float: none; height: 90px; margin-bottom: 0; padding: 0;}
.navbar-collapse_{clear: both; margin-left: -15px; margin-right: -15px;}
.navbar_ .nav{display: block; background: none; border-right: none;background: #252525; border: none;}
.navbar_ .nav > li{float: none;background: none; border-left: none; margin-left: 0; border-top:1px solid #303030; background: none;}
.navbar_ .nav > li > a{margin-bottom: 0; border: none; padding: 5px 0;}
.navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover{}
.sub-menu ul{position: relative; left: 0; top: 0; text-align: center;}
.sub-menu li a{padding-right: 10px;}
.slick-center .slick-slider-inner .caption .txt2 span{font-size: 20px;}

.radio1 .sec1{display: none;}
.radio1 .sec2{width: 85%;}
.radio1 .sec3{display: none;}
.radio1 .sec4{display: none;}
.radio1 .sec5{display: none;}
.radio1 .sec6{display: none;}
.radio1 .sec7{width: 15%;}
.audio2 .mejs-controls .mejs-playpause-button{width: 15%;}
}

@media (min-width: 481px) and (max-width: 767px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {
.audio1 .mejs-container .mejs-controls .mejs-time{display: none;}
.slick-center .slick-slider-inner .caption .txt2 span{font-size: 12px;}
.thumb6 figure{float: none; margin: 0; width: auto;}
.thumb6 figure img{width: 100%;}
.thumb6.right figure{margin: 0; float: none;}
}
.camera_wrap {
    height:calc(100% - 225px);
}
